body {
    font-family: 'Rubik', sans-serif;
}

a {
    -webkit-transition: all .24s linear 0ms;
    -khtml-transition: all .24s linear 0ms;
    -moz-transition: all .24s linear 0ms;
    -ms-transition: all .24s linear 0ms;
    -o-transition: all .24s linear 0ms;
    transition: all .24s linear 0ms;
}

header {
    background-color: #022335;
}

#announcement-bar {
    font-size: 14px !important;
}

#announcement-bar ul > li {
    border-left: solid #5c5c5c 1px !important;
}

#announcement-bar ul > li > a:hover {
    color: #fcbe00 !important;
}

#announcement-bar ul > li:first-child {
    border-left: 0px !important;
}

